@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,800");
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, rgba(89, 0, 255, 0.9), rgba(255, 40, 222, 0.9)), url(https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-0.3.5&s=0d64e651b3d3236851acd0335720dcbd&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Avenir Next', 'Helvetica Neue', 'Montserrat', sans-serif;
  font-size: 100%;
  color: white;
}

.grid {
  margin: 1rem;
  width: calc(100% - 2rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 250px;
  grid-auto-flow: row dense;
  opacity: 0;
  animation: load-in 2000ms ease-out forwards;
}

.content--loading {
  animation-play-state: paused !important;
}

@keyframes load-in {
  100% {
    opacity: 1;
  }
}
@keyframes load-out {
  100% {
    opacity: 0;
  }
}
@media screen and (min-width: 382px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
.reg--item {
  position: relative;
  height: auto;
  width: auto;
  overflow: hidden;
  transform: none;
  transition: opacity 1000ms ease-in-out, transform 800ms ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.reg--item:hover .item--img, .reg--item:focus .item--img {
  transform: scale(1.05);
  transition: all 220ms ease-in-out;
}
.reg--item:hover .item--overlay, .reg--item:focus .item--overlay {
  background-color: rgba(13, 13, 13, 0.6);
  transition: all 220ms ease-in-out;
}
.reg--item:hover .item--text, .reg--item:focus .item--text {
  opacity: 1;
  transition: opacity 330ms ease-in-out;
}

.item--overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  transition: all 220ms ease-in-out;
}

.item--text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 4;
  transition: opacity 220ms ease-in-out;
  text-align: center;
}
.item--text .item--name {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.25;
}
.item--text .item--more {
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 2px solid #FFF;
  transition: all 220ms ease-in-out;
  font-weight: 400;
  line-height: 1.5;
}
.item--text .item--more:hover {
  cursor: pointer;
  color: #ff28de;
  border-color: #ff28de;
  transition: all 220ms ease-in-out;
}

.item--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 220ms ease-in-out;
}

.grid--intro {
  grid-column: 1/-1;
  grid-row-end: span 2;
  width: 100%;
  position: relative;
  align-self: center;
}

.intro--header {
  margin: -1rem auto 0 auto;
  font-size: 3rem;
  line-height: 2;
  font-weight: 700;
  text-align: left;
  max-width: 700px;
  letter-spacing: -4px;
}

.intro--text {
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  max-width: 700px;
  letter-spacing: -1px;
}

@media screen and (min-width: 767px) {
  .tall--item {
    grid-row-end: span 2;
  }

  .wide--item {
    grid-column-end: span 2;
  }

  .intro--header {
    font-size: 4rem;
  }

  .intro--text {
    font-size: 1.4rem;
  }
}
.centering {
  display: block;
  width: 100%;
  margin: 0;
  height: 100vh;
  position: fixed;
  z-index: 999;
}

.circle {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  border: 1rem solid rgba(255, 255, 255, 0);
  border-radius: 4rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.circle--1 {
  border-top-color: rgba(232, 232, 232, 0.7);
  animation: spin--1 2500ms infinite;
}

.circle--2 {
  border-bottom-color: rgba(232, 232, 232, 0.7);
  animation: spin--2 2500ms infinite;
}

@keyframes spin--1 {
  33% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(720deg);
  }
}
@keyframes spin--2 {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  33% {
    transform: translate(-50%, -50%) rotateZ(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(720deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotateZ(0deg) scale(1);
  }
  33% {
    transform: rotateZ(180deg) scale(0.8);
  }
  100% {
    transform: rotateZ(720deg) scale(1);
  }
}
.hide {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  animation: load-out 660ms ease-out forwards;
}

.load--more {
  margin: 3rem auto;
  display: block;
  padding: .8rem 3rem;
  font-family: 'Helvetica Neue', 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  background: linear-gradient(to right, rgba(255, 40, 222, 0.9), rgba(89, 0, 255, 0.9));
  color: white;
  border: 3px solid white;
  border-radius: 30px;
  transition: all 220ms ease-in-out;
  transform: none;
}
.load--more:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 220ms ease-in-out;
}

.hidden {
  opacity: 0;
  height: 0;
  position: absolute;
  transform: translateY(-1rem);
}
